<h2><%= @story.title %></h2>
<p>
	<%= @story.summary %>
</p>

<% unless @story.entities.nil? %>
<ul>
	
	<% @story.entities.each do |e| %>
		<li>
			<a href="/entities/<%= e.id %>"><%= e.text %></a>
		</li>
	<% end %>
</ul>
<% end %>	